/*Vous lisez les codes de tout le monde ? C'est pas long ? */
h1 {;
}
.Para2 { border-style: solid; border: 2px solid DodgerBlue;

	}
.Style {color: blue; font-family:American Typewriter;
	}

.Ici { font-size:30px;
		}
.bleu { color: blue
	}
.marron {color : brown ;}
.police { font-family:American Typewriter ;}
.centrer {text-align: center;}
.imagedroite {position: absolute; right: 250px ; top : 0px ;}
.imageami {position: fixed; top: 100px; left: 500px; right: 500px}
.imagedroitebas {position: absolute; right: 250px ; top: 50px}